<%- include('../includes/head.ejs') %>
<link href="/css/adminStyle.css" rel="stylesheet" />

</head>

<body>
    <%- include('../includes/search.ejs') %>
    <div class="container-fluid">
        <div class="row">
            <%- include('../includes/siderbar.ejs') %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                <div class="d-flex justify-content-between flex-wrap
                     flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <%- include('../includes/breadcrumb.ejs') %>
                    <h1 class="h2">List Product</h1>
                </div>
                <div class="">
                    <div class="card-body">
                        <% if (products.length > 0) { %>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <% header.forEach(valueHeader => { %>
                                    <th scope="col"><%=valueHeader %></th>
                                    <% }); %>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(product => { %>
                                <tr>

                                    <th scope="col">
                                        <div class="text-wrap">
                                            <%= product.name %>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <img src="<%= product.imgUrl %>" alt="avatar" class="img-fluid img-thumbnail">
                                    </th>
                                    <th scope="col">
                                        <div class="text-wrap">
                                            <%= product.price %>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="text-wrap">
                                            <%= product.description %>
                                        </div>
                                    </th>
                                    <th scope="col" class="text-center">
                                        <div>
                                            <a class="btn btn-info" href="/admin/product-detail/<%= product._id %>">
                                                <i class="fas fa-edit" style="color:white"></i>
                                            </a>
                                            <hr class="featurette-divider">
                                            <form action="/admin/postDeleteProduct" method="post">
                                                <input type="hidden" name="id" value="<%= product._id %>">
                                                <button class="btn btn-danger" type="submit"><i
                                                        class="fas fa-trash-alt"></i></button>
                                            </form>

                                        </div>

                                    </th>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h2>No Data !</h2>
                        <% } %>

                    </div>
                </div>

            </main>
        </div>

    </div>

    <%- include('../includes/end.ejs') %>