<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <% breadCrumb.forEach(value => { %>
        <li class="breadcrumb-item <%= value.active ? 'active':'' %>"
        <%= value.active ? 'aria-current="page"' : ''%> >
            <% if (!value.active) { %>
                <a href="<%= value.url %>">
                    <%= value.name %> </a>
            <% } else { %>
                <%= value.name %> 
            <% }%>
        </li>
        <% }) %>
        <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
    </ol>
</nav>