<%- include('../includes/head.ejs')  %>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="alignLayoutMain">
        <!-- d-flex justify-content-between align-items-center -->
        <div class="container ">
            <% if (carts.products.length > 0) { %>
            <ul class="list-group list-group-flush"">
                <% carts.products.forEach(cart => { %>
                <li class=" list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        <h5><%= cart.product.name %></h5>
                    </div>
                    <div class="col-md-4 float-right">
                        <span class="badge badge-primary badge-pill card-text"><%= cart.quantity %></span>

                    </div>
                    <div class="col-md-4 float-left">
                        <form action="/deleteCartItem" method="POST">
                            <input type="hidden" name="productId" value="<%= cart.product.id %>">
                            <button type="submit" class="btn btn-danger float-right">
                                <i class="fas fa-trash-alt"></i>
                            </button>

                        </form>
                    </div>
                </div>
                </li>
                <% }) %>
            </ul>

            <h4 class="text-right">Total: $<%= carts.totalPrice %> </h4>
            <% } else { %>
            <h1>No Product into Cart!</h1>
            <% } %>

        </div>

    </main>
    <%- include('../includes/end.ejs') %>